.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App {
  font-family: sans-serif;
  margin-top: 100px;
  border: 1px solid black;
  padding: 50px;
  padding-bottom: 100px;
  margin-left: 350px;
  margin-right: 350px;
}
.App h2{
  font-size: 30px;
  margin-top: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.inputNama p {
  display: inline-block;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.nama {
  font-weight: bold;
  margin-right: 50px;
}
input {
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 5px;
}
.item {
  font-weight: bold;
  float: left;
  margin-left: 102px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.fruits ul li {
  text-decoration: none;
  list-style: none;
  margin-left: 235px;
  text-align: left;
  margin-top: 10px;
}
button {
  float: left;
  margin-left: 100px;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  cursor: pointer;
  background: transparent;
  font-weight: 800;
  margin-bottom: 20px;
}
button span {
  color: #282c34;
}
button:hover {
  background-color: gray;
  border: none;
}
button span:hover {
  color: white;
}