body {
    background-image: url("../img/pattern.jpg");
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 60px;
    width: 100%;
    background-color: #cccc
}
header img {
    float: left;
    margin-left: 50px;
    cursor: pointer;
}
nav ul {
    margin-left: 850px;
}
nav ul a {
    display: inline-block;
    padding-left: 30px;
    text-decoration: none;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
    margin-right: 50px;
    cursor: pointer;
     
}
section {
    margin-top: 60px;
    margin-left: 60px;
    margin-right: 60px;
    background-color: white
}
section h1 {
    text-align: center;
    padding-top: 50px;
}
#article-list {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}
#article-list h3 {
    color: black;
}
footer {
    margin-left: 60px;
}
footer h5 {
    color: gray
}